.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 12vh;
  background-color: rgb(255,255,255);
  color: black;
}

.navOptions {
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-right: 50px;
}

.navOption {
  padding: 10px;
}

.notActive {
  color: black;
}

.notActive:hover {
  border-bottom: 1px solid #23f3fa;
  padding-bottom: 9px;
}

.active {
  color: #23f3fa;
  border-bottom: 2px solid #23f3fa;
  padding-bottom: 8px;
}

.logoText {
  color: black;
  font-size: 2rem;
}

.logoSubText {
  text-align: right;
  margin-right: 20px;
  font-weight: 700;
}

.navbarLogo {
  text-align: center;
  color: #23f3fa;
  margin-left: 20px;
}

.logo:hover {
  cursor: pointer;
}

.menuIcon {
  display: none;
}

@media screen and (max-width: 960px) {

  .navContainer {
    position: relative;
  }

  .navOptions {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 12vh;
    left: -100%;
    transition: all 0.5s ease;
  }

  .activeNav {
    background-color: grey;
    left: 0;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navOption {
    text-align: center;
    padding: 30px;
  }

  .menuIcon {
    display: block;
    cursor: pointer;
    padding: 30px;
  }

}